
name: MicroToDo-UI Pipeline

on: 
  push:
    branches:
      - main
      - releases/**

  
jobs:
  build: 
    name: demo job
    runs-on: self-hosted
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
  
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 18
  
    - name: Install dependencies
      run: npm install
      
    - name: Cache node modules
      uses: actions/cache@v4
      with:
       path: node_modules
       key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
  
    - name: Build
      run: npm run build
